h1 {
  color: #404040;
  font-size: 30px !important;
}
h2 ul {
  padding-inline-start: 0;
  font-weight: 400;
  color: #bfc7e1;
}
li {
  list-style-type: none;
  font-size: 18px;
  color: #fff;
}

.weatherUnits {
  font-size: 14px;
  font-weight: bold;
  margin-top: 13px;
  margin-left: 0.3rem;
}

.weatherContainer {
  border: 1px solid #dbdbdb;
  margin-top: 2rem;
  padding: 1.5rem 1.5rem 1rem;
  border-radius: 8px;
  /*background: linear-gradient(#dddbdb, #0a87e1);*/
  max-width: 600px;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}
.col-sm-4.weatherIcon {
  font-size: 60px;
  text-align: center;
}
.col-sm-8.tempText {
  font-size: 50px;
  align-self: center;
  display: inline-flex;
}
.forcastBox .col-sm {
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: aliceblue;
  margin: 0 0.5rem;
  padding: 1rem;
  background: linear-gradient(#dddbdb, #efefef73);
  border-radius: 6px;
  font-size: 18px;
}
.weatherIcon {
  font-size: 35px;
}
.col-sm-12.forecastHeader {
  text-align: center;
  padding: 0.5rem;
  font-size: 18px;
}
.col-sm-6.currentTownText {
  font-size: 38px;
  padding-left: 1rem;
}
#currentDateTime {
  font-size: 16px;
}
.row.forcastBox {
  padding: 0 3rem;
}
.col-sm-12.footer a {
  text-decoration: none;
  color: #2f55af;
  font-size: 13px;
}
.col-sm-12.footer a:hover {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.weatherUnits a {
  text-decoration: none;
}
.weatherUnits .active {
  color: #fff;
}
.weatherForecast {
  text-align: center;
  margin-top: 20px !important;
}
.weather-forecast-day {
  font-size: 16px;
}
.weather-forecast-temp {
  font-size: 13px;
}
.minTemp {
  color: #7b84a3;
}
h1#showCitySearched {
  color: white;
}
.lastUpdateText {
  color: #7b84a3;
  padding-top: 1rem;
  font-size: 11px;
  padding-left: 1rem;
}

div#weatherDescription {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
}
div#weatherDescription:first-letter {
  text-transform: capitalize;
}
.weather-forecast-day {
  font-size: 14px;
}
.weather-forecast-day,
#cityTemp,
.weatherUnits,
.maxTemp,
input#button-addon2 {
  color: #fff;
}
.btn-outline-secondary:hover {
  background-color: #21273a !important;
  border-color: #21273a !important;
}
